<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo de Compras</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <form method="POST">
        <h1>Cálculo de Compras</h1>
        <label>Ingresa tu nombre:</label>
        <input type="text" name="nombre" required>
        <label>Ingresa tu edad:</label>
        <input type="number" name="edad" required>
        <label>Ingresa la cantidad de tarros de pintura a comprar:</label>
        <input type="number" name="cantidad" required>
        <button type="submit">Calcular</button>
        {% if total_sin_descuento is not none %}
            <h3>Resultados:</h3>
            <p>Nombre del cliente: {{ nombre }}</p>
            <p>Total sin descuento: ${{ total_sin_descuento }}</p>
            <p>Descuento: ${{ descuento }}</p>
            <p>Total a pagar: ${{ total_con_descuento }}</p>
        {% endif %}
    </form>
</body>
</html>
